/*-------------------------
#.brand-area
--------------------------*/
.brand-area {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background: var(--bgtwo);
     height: 135px;
}