.modal {
     .appoinmentdetails-modal {
          max-width: 790px;
          .modal-content {
               background: #F4F6FA;
               border-radius: 1rem;
               padding: 3rem 0;
               .modal-header {
                    border: none;
                    padding: 1rem 2.5rem;
                    padding-top: 0;
                    .modal-title {
                         font-size: 2.4rem;
                         font-weight: 500;
                         text-transform: capitalize;
                         color: var(--color-one);
                    }
                    .close {
                         width: 3rem;
                         height: 3rem;
                         line-height: 3rem;
                         padding: 0;
                         border-radius: 50%;
                         background: var(--primary-color);
                         text-shadow: none;
                         color: var(--white);
                         span {
                              line-height: 1.6;
                              font-size: 2rem;
                         }
                    }
               }
               .modal-body {
                    padding: 0 2.5rem;
               }
          }
     }
}
@media (max-width: 991px) {
     .modal .appoinmentdetails-modal .modal-content .modal-header .modal-title {
          font-size: 2rem;
     }
}