/*-------------------------
#.blog-details-area
--------------------------*/
.blog-details-area {
     .blog-img {
          margin-bottom: 2.5rem;
          img {
               width: 100%;
               height: auto;
               border-radius: 1.5rem;
          }
     }
     .post-image {
          img {
               width: 100%;
               height: auto;
          }
     }
     .post-meta-wrap {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3rem;
          .blog-meta {
               margin: 0;
               padding: 0;
               li {
                    font-family: $titlefont;
                    display: inline-block;
                    list-style: none;
                    margin: 0;
                    font-size: 1.6rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    color: var(--color-one);
                    margin-right: 2.5rem;
                    &:last-child {
                         margin-right: 0;
                    }
                    i {
                         position: relative;
                         top: .2rem;
                         margin-right: .5rem;
                         color: var(--primary-color);
                    }
               }
               .author-info {
                    display: flex;
                    align-items: center;
                    .author-image {
                         width: 4rem;
                         height: 4rem;
                         line-height: 4rem;
                         border-radius: 50%;
                         margin-right: 1.5rem;
                    }
                    .author-name {
                         margin: 0;
                         font-size: 1.6rem;
                         font-weight: 500;
                         text-transform: capitalize;
                         color: var(--color-one);
                    }
               }
          }
          .social-share {
               ul {
                    margin: 0;
                    padding: 0;
                    li {
                         display: inline-block;
                         list-style: none;
                         margin-right: 2rem;
                         font-size: 1.8rem;
                         font-weight: 400;
                         text-transform: capitalize;
                         color: var(--black);
                         &:last-child {
                              margin-right: 0;
                         }
                         a {
                              font-size: 1.8rem;
                              color: var(--bColor);
                              transition: $transition;
                              &:hover {
                                   color: var(--primary-color);
                              }
                         }
                    }
               }
          }
     }
     .post-title {
          margin-bottom: 2rem;
          font-size: 2.4rem;
          font-weight: 500;
          text-transform: capitalize;
          color: var(--color-one);
     }
     p {
          font-size: 1.5rem;
          line-height: 2.7rem;
          color: var(--bColor);
     }
     .post-inner-text {
          margin-bottom: 3rem;
          h3 {
               margin-bottom: 2rem;
               font-size: 1.8rem;
               font-weight: 500;
               color: var(--color-one);
          }
     }
     .blockquote-area {
          margin-bottom: 3rem;
          background: var(--bgtwo);
          padding: 2rem 5rem;
          border-radius: .5rem;
          border-left: .5rem solid var(--primary-color);
          p {
               margin: 0;
               font-size: 1.5rem;
               font-weight: 700;
               color: var(--color-one);
               font-style: italic;
          }
     }
     .post-tag {
          padding-top: 1.5rem;
          margin-bottom: 3.5rem;
          border-top: 3px solid #F7F7F7;
          ul {
               margin: 0;
               padding: 0;
               li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 2rem;
                    span {
                         font-family: $titlefont;
                         font-size: 1.6rem;
                         font-weight: 500;
                         color: var(--color-one);
                    }
                    a {
                         font-size: 1.2rem;
                         font-weight: 500;
                         text-transform: capitalize;
                         color: var(--color-one);
                         transition: $transition;
                         &:hover {
                              color: var(--primary-color);
                         }
                    }
               }
          }
     }
}
@media (max-width: 991px) {
     .blog-details-area .post-meta-wrap .blog-meta {
          width: 100%;
          margin-bottom: .5rem;
     }
     .blog-details-area .blockquote-area {
          padding: 2rem 3rem;
     }
     .blog-details-area .post-inner-text .post-image {
          margin-bottom: 3rem;
     }
     
}
@media (max-width: 414px) {
     .blog-details-area .post-meta-wrap .blog-meta .author-info .author-name {
          font-size: 1.4rem;
     }
     .blog-details-area .post-meta-wrap .blog-meta li {
          font-size: 1.4rem;
     }
     .blog-details-area .blockquote-area p {
          font-size: 1.4rem;
          font-weight: 600;
     }
     .blog-details-area .post-meta-wrap .social-share ul li {
          margin-right: 1rem;
          font-size: 1.4rem;
     }
     .blog-details-area .post-meta-wrap .social-share ul li a {
          font-size: 1.4rem;
     }
}
@media (max-width: 375px) {
     .blog-details-area .post-meta-wrap .blog-meta .author-info .author-image {
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          margin-right: .5rem;
     }
     .blog-details-area .post-meta-wrap .blog-meta li {
          margin-right: 1rem;
     }
     .blog-details-area .post-title {
          font-size: 2rem;
     }
     .blog-details-area .post-meta-wrap .blog-meta .author-info .author-name {
          font-size: 1.2rem;
     }
     .blog-details-area .post-meta-wrap .blog-meta li {
          font-size: 1.2rem;
     }
     .blog-details-area .post-meta-wrap .blog-meta .author-info .author-image {
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
     }
}