/*-------------------------
#.primary-form
--------------------------*/
.primary-form {
     .form-inner-title {
          margin-bottom: 1.5rem;
          font-size: 1.8rem;
          font-weight: 500;
          text-transform: capitalize;
          color: var(--color-one);
     }
     .form-group {
          position: relative;
          margin-bottom: 2.5rem;
          .form-control {
               width: 100%;
               height: 6rem;
               border-radius: .5rem;
               border: none;
               background: var(--white);
               padding: 1rem 2rem;
               font-family: $titlefont;
               font-size: 1.6rem;
               font-weight: 500;
               color: var(--bColor);
          }
          .form-icon {
               position: absolute;
               top: 1.7rem;
               right: 2rem;
               pointer-events: none;
          }
          label {
               font-size: 1.4rem;
               font-weight: 500;
               text-transform: capitalize;
               color: #122F53;
          }
          .comment-box {
               padding: 1.5rem 2rem;
               height: 16rem;
               font-weight: 400;
          }
     }
     .gender-group {
          display: flex;
          column-gap: 20px;
          margin-bottom: 2.5rem;
          .form-check {
               .form-check-input {
                    margin-top: 5px;
               }
               .form-check-label {
                    margin-bottom: 0;
                    padding-left: 1rem;
                    cursor: pointer;
               }
          }
     }
     .profile-image-area {
          margin-bottom: 3rem;
          display: flex;
          align-items: center;
          .profile-image {
               margin-right: 2.5rem;
               width: 8rem;
               height: 8rem;
               border-radius: .5rem;
               overflow: hidden;
               img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
               }
          }
          .custom-fileuplode {
               input {
                    display: none;
               }
               .file-uplode-btn {
                    cursor: pointer;
               }
          }
     }
}